<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Прикрепление организации</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Прикрепление организации</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>

        <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
        </form>

    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="'/acceptance/' + ${acceptance.id} + '/employee/organization'" th:method="POST"
                  th:object="${organization}">
                <div class="form-group">
                    <label for="fullOrganizationName">Полное наименование предприятия</label>
                    <input type="text" id="fullOrganizationName" th:field="*{fullOrganizationName}" class="form-control"
                           placeholder="Введите полное имя предприятия">

                </div>
                <div class="form-group">
                    <label for="shortOrganizationName">Краткое наименование предприятия</label>
                    <input type="text" id="shortOrganizationName" th:field="*{shortOrganizationName}"
                           class="form-control"
                           placeholder="Введите короткое имя предприятия">

                </div>
                <div class="form-group">
                    <label for="address">Адрес предприятия</label>
                    <input type="text" id="address" th:field="*{address}" class="form-control"
                           placeholder="Введите адрес предприятия">

                </div>
                <div class="form-group">
                    <label for="bankInspection">Банковские реквизиты предприятия</label>
                    <input type="text" id="bankInspection" th:field="*{bankInspection}" class="form-control"
                           placeholder="Введите банковские реквизиты предприятия">

                </div>
                <div class="form-group">
                    <label for="speciality">Специализация предприятия</label>
                    <input type="text" id="speciality" th:field="*{speciality}" class="form-control"
                           placeholder="Введите специализацию предприятия">

                </div>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>